body {
  background-color: #ECF4FE;
  opacity: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 500px;
  padding: 10px;
}
